<h2>Sign Up Confirmation</h2>

<h4>Are you sure these values are correct?</h4>
<br>
<p><strong>Email: <%= params[:user][:email] %></strong></p>
<p><strong>Name: <%= params[:user][:name] %></strong></p>

<%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>

<%= button_to "No", new_user_path%>
