<h2>Sign Up Confirmation</h2>

<h4>Are you sure these values are correct?</h4>
<br>
<p><strong>Email: <%= params[:user][:email] %></strong></p>
<p><strong>Name: <%= params[:user][:name] %></strong></p>


<div class="row">
     <div class="col-md-1">
          <%= button_to "Yes", {controller: "users", action: "create", params: {name: params[:user][:name], email: params[:user][:email], password: params[:user][:password], password_confirmation: params[:user][:password_confirmation]}}, class: 'btn btn-success' %>
     </div>
     <div class="col-md-1">
          <%= button_to "No", {controller: "users", action: "new"}, method: :get, class: 'btn btn-default' %>
     </div>
</div>

<%
cookies.permanent[:user_name] = {
     value: params[:user][:name],
     expires: 1.minute.from_now
}
cookies.permanent[:user_email] = {
     value: params[:user][:email],
     expires: 1.minute.from_now
}
%>
